.home {
    $mobile-width: 420px;

    min-height: 100%;
    position: relative;

    .bg-pasta {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url(/static/images/bg-pasta.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    .overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #000;
        opacity: .3;
    }

    .hello {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 340px;
        color: #fff;
        h1 {
            font-size: 40px;
            text-align: center;
            margin-bottom: 20px;
        }
        &.register {
            width: 400px;
        }

        @media (max-width: $mobile-width) {
            width: 90% !important;
        }
    }

    .menu {
        margin: 10px 0 30px 0;
        h2 {
            margin: 0 0 30px 0;
            font-size: 16px;
            font-weight: 500;
        }
        span, li {
            padding: 4px 0;
            font-size: 14px;
            font-weight: 200;
            &.empty {
                display: block;
                padding-bottom: 26px;
                @media (max-width: $mobile-width) {
                    padding-bottom: 0;
                }
            }
        }
        &:not(:last-child):after {
            display: block;
            content: '';
            border-bottom: 1px solid #ddd;
            margin-top: 30px;
        }
    }

    .description {
        position: absolute;
        padding: 20px;
        top: 10px;
        right: 10px;
        border: 1px solid #ddd;
        border-radius: 2px;
        background: #fff;
        h2 {
            margin: 0 0 10px 0;
            font-size: 16px;
            font-weight: 500;
        }
        span, li {
            padding: 4px 0;
            font-size: 14px;
            font-weight: 200;
        }
        @media (max-width: $mobile-width) {
            position: relative;
            margin: 0 10px;
            padding: 30px 0 0 0;
            border: none;
            border-top: 1px solid #ddd;
            width: 100%;
        }
    }

    @media (max-width: $mobile-width) {
        .container {
            padding: 10px 20px 20px 20px;
        }
    }
}