.calendar-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media (max-width: 420px) {
        border-top: 1px solid #ddd;
    }
}

.calendar-header {
    position: relative;
    height: 50px;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 30px;
    @media (max-width: 420px) {
        font-size: 14px;
    }
}

.calendar-header button {
    position: absolute;
    top: 0;
    min-width: 40px;
    .anticon {
        font-size: 10px;
    }

    &.calendar-header-left {
        left: 0;
    }
    &.calendar-header-today {
        right: 50px;
        @media (max-width: 320px) {
            display: none;
        }
    }
    &.calendar-header-right {
        right: 0;
    }

    @media (max-width: 420px) {
        min-width: 30px;
        padding: 0;
        &.calendar-header-today {
            right: 34px;
            padding: 0 8px;
        }
    }
}

.calendar-grid-item {
    position: relative;
    padding: 16px;
    flex: 0 14.28571%;
    max-width: 14.28571%;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 420px) {
        flex: 0 100%;
        max-width: 100%;
    }
    &.title {
        height: 34px;
        padding: 0 16px;
        background: #efefef;
        font-weight: 600;
        font-size: 14px;
        @media (max-width: 420px) {
            display: none;
        }
    }
    .day {
        position: absolute;
        top: 10px;
        left: 10px;
        strong {
            display: none;
        }
    }
    .foods {
        padding: 20px 0 10px 0;
        min-height: 100px;
        font-size: 14px;
        font-weight: 200;
        li {
            padding: 2px 0;
        }
    }
    .edit {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    .remove {
        position: absolute;
        top: 10px;
        right: 30px;
        cursor: pointer;
    }
}

.calendar-grid-item.nextMonth,
.calendar-grid-item.prevMonth {
    color: #999;
    @media (max-width: 420px) {
        display: none;
    }
}

.calendar-grid-item:nth-child(7n+1) {
    border-left: 1px solid #ddd;
}

.calendar-grid-item:nth-child(-n+7) {
    border-top: 1px solid #ddd;
}


@media (max-width: 420px) {
    .calendar-grid-item {
        border-left: 1px solid #ddd;
        .foods {
            min-height: 40px;
        }
        .day {
            strong {
                display: inline;
                position: absolute;
                font-weight: 800;
                top: 0;
                left: 26px;
            }
        }
    }
}
