@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

$mobile-width: 420px;

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Apple SD Gothic Neo', -apple-system, BlinkMacSystemFont, 'Noto Sans Korean', 'Sans-serif';
    height: 100%;

    > div:first-child {
        height: 100%;

        .layout,
        > #__next,
        > #__next > div,
        > #__next > div > div {
            height: 100%;
        }
    }
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 10px;
    max-width: 1080px;
}

.ant-back-top {
    right: 30px;
    bottom: 30px;
    .ant-back-top-content {
        background-color: #000;
    }
    @media (max-width: $mobile-width) {
        right: 4px;
        bottom: 4px;
        .ant-back-top-content {
            width: 30px;
            height: 30px;
            .ant-back-top-icon {
                font-size: 16px;
                margin-top: 6px;
            }
        }
    }
}

.ant-card:hover {
    box-shadow: none;
}

@media (max-width: $mobile-width) {
    .ant-form-item {
        margin-bottom: 10px;

        .ant-form-item-label {
            padding: 0;
        }
    }
}

.custom-image img {
    display: block;
}
.custom-card {
    padding: 10px;
}
.custom-card p {
    color: #999;
}